[*.cs]

# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1814.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# RCS1001: Add braces (when expression spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = silent
